<!DOCTYPE html>
<html lang="zxx">

<head>
<title>Home</title>
<!--meta tags -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content=""
/>
<script>
addEventListener("load", function () {
  setTimeout(hideURLbar, 0);
}, false);

function hideURLbar() {
  window.scrollTo(0, 1);
}
</script>
<!--booststrap-->
<link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
<!--//booststrap end-->
<!-- font-awesome icons -->
<link href="../css/font-awesome.min.css" rel="stylesheet">
<!-- //font-awesome icons -->
<!--stylesheets-->
<link href="../css/style.css" rel='stylesheet' type='text/css' media="all">
<!--//stylesheets-->
<link href="http://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Libre+Franklin:400,500" rel="stylesheet">
</head>

<body>
<div class="main-top" id="home">
<!-- header -->
<div class="headder-top d-md-flex">
  <div id="logo">
	<h1>
	  <a href="#">Donuts</a>
	</h1>
  </div>
  <!-- nav -->
  <nav class="mx-md-auto">

	<label for="drop" class="toggle">Menu</label>
	<input type="checkbox" id="drop">
	<ul class="menu mt-2">
	  <li class="active">
		<a href="#">Home</a>
	  </li>
	  <li>
		<a href="#about">About</a>
	  </li>
	  <li>
		<a href="#service">Services</a>
	  </li>
	  <li>
<!--		&lt;!&ndash; First Tier Drop Down &ndash;&gt;-->
<!--		<label for="drop-2" class="toggle toogle-2">Dropdown-->
<!--		  <span class="fa fa-angle-down" aria-hidden="true"></span>-->
<!--		</label>-->
<!--		<a href="#">Dropdown-->
<!--		  <span class="fa fa-angle-down" aria-hidden="true"></span>-->
<!--		</a>-->
<!--		<input type="checkbox" id="drop-2">-->
<!--		<ul>-->
<!--		  <li>-->
<!--			<a href="#gallery" class="drop-text">Gallery</a>-->
<!--		  </li>-->
<!--		  <li>-->
<!--			<a href="#blog" class="drop-text">Blog</a>-->
<!--		  </li>-->
<!--		  <li>-->
<!--			<a href="#contact" class="drop-text">Contact Us</a>-->
<!--		  </li>-->
<!--		</ul>-->
	</ul>
  </nav>
  <div class="social-icons">
	<ul>
	  <li>
		<a href="#" class="facebook">
		  <span class="fa fa-facebook"></span>
		</a>
	  </li>

	  <li>
		<a href="#" class="rss">
		  <span class="fa fa-rss"></span>
		</a>
	  </li>
	  <li>
		<a href="#" class="twitter">
		  <span class="fa fa-twitter"></span>
		</a>
	  </li>
	  <li>
		<a href="#" class="gmail">
		  <span class="fa fa-envelope"></span>
		</a>
	  </li>
	</ul>
  </div>
  <!-- //nav -->
</div>
<!-- //header -->
<!-- banner -->
<div class="slider-img ">
  <div class="container">
	<div class="slider-info">
	  <h5>DownLoad App</h5>
	  <h4>To Share You Pictures</h4>
	  <p>分享你的世界</p>
	</div>
	<div class="outs_more-buttn mt-md-4 mt-3">
	  <a href="/downloadFile">DownLoad Now</a>
	</div>
  </div>
</div>
</div>
<!-- banner -->
<!-- about -->
<section class="about py-lg-4 py-md-3 py-sm-3 py-3" id="about">
<div class="container py-lg-5 py-md-4 py-sm-4 py-3">
  <div class="row">
	<div class="col-lg-6 about-imgs-txt my-3">
	  <img src="../images/camera.jpg" alt="news image" class="img-fluid">
	</div>
	<div class="col-lg-6 about-two-grids my-3">
	  <h5 class="top-title mb-lg-4 mb-3"> About</h5>
	  <h2 class="mb-md-3 mb-sm-3 mb-3">分享你的世界</h2>
<!--	  <div class="about-para-txt">-->
<!--		<p>sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, eiusmod tempor incididunt-->
<!--		  ut labore consectetur adipiscing sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum-->
<!--		  dolor sit amet consectetur adipiscing sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet </p>-->
<!--	  </div>-->
	  <h6 class="my-lg-5 my-md-4 my-3">Donuts Camera</h6>
	  <div class="about-para-txt">
		<p>您可以通过使用此App来发现或发布更多图片</p>
	  </div>
	  <div class="outs_more-buttn mt-md-4 mt-3">
		<a href="#blog">Read More</a>
	  </div>
	</div>
  </div>
</div>
</section>
<!--&lt;!&ndash;//about &ndash;&gt;-->
<!--<div class="tlinks">Collect from <a href="http://www.cssmoban.com/" >自助建站</a></div>-->
<!--&lt;!&ndash;service &ndash;&gt;-->
<!--<section class="service" id="service">-->
<!--<div class="container-fluid">-->
<!--  <div class="row">-->
<!--	<div class="col-lg-6 service-wthree-grids img-two">-->
<!--	  <h5 class="top-title mb-lg-4 mb-3">Our Services</h5>-->
<!--	  <h3 class="title clr">What We Provide</h3>-->

<!--	</div>-->
<!--	<div class="col-lg-3 col-md-6 col-sm-6 service-wthree-grids img-one">-->
<!--	  <h4>-->
<!--		Natural & Organic </h4>-->
<!--	  <p class="mt-2">sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet eiusmod tempor incididunt</p>-->
<!--	</div>-->
<!--	<div class="col-lg-3 col-md-6 col-sm-6 service-wthree-grids color-one">-->

<!--	  <h4>10 Health Benefits: What Secrets Do Watermelons Keep?-->
<!--	  </h4>-->
<!--	</div>-->

<!--	<div class="col-lg-3 service-second-grid img-three">-->
<!--	  <h4>Completely 100% fresh food</h4>-->
<!--	</div>-->
<!--	<div class="col-lg-3 col-md-6 col-sm-6 p-0">-->
<!--	  <div class="service-wthree-grids img-four">-->
<!--		<h4>Fast free delivery</h4>-->
<!--		<p class="mt-2">sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet eiusmod tempor incididunt</p>-->
<!--	  </div>-->
<!--	  <div class="service-wthree-grids color-two">-->

<!--		<h4>How to Make Your Breakfast Easy and Yummy</h4>-->
<!--	  </div>-->
<!--	</div>-->
<!--	<div class="col-lg-3 col-md-6 col-sm-6 p-0">-->
<!--	  <div class="service-wthree-grids color-three">-->

<!--		<h4>Everyday Dinner Choices for a Healthier</h4>-->
<!--	  </div>-->
<!--	  <div class="service-wthree-grids img-six">-->
<!--		<h4>Best Equipment</h4>-->
<!--		<p class="mt-2">sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet eiusmod tempor incididunt</p>-->
<!--	  </div>-->
<!--	</div>-->
<!--	<div class="col-lg-3 service-second-grid img-five">-->
<!--	  <h4>Good for your healthy</h4>-->
<!--	</div>-->
<!--  </div>-->
<!--</div>-->
<!--</section>-->
<!--//service -->
<!--&lt;!&ndash; team &ndash;&gt;-->
<!--<section class="team py-lg-4 py-md-3 py-sm-3 py-3" id="team">-->
<!--<div class="container py-lg-5 py-md-4 py-sm-4 py-3">-->
<!--  <h5 class="top-title mb-lg-4 mb-3 text-center">Our Team</h5>-->
<!--  <h3 class="title mb-lg-5 mb-md-4 mb-sm-4 mb-3 text-center">Meet Our Team</h3>-->
<!--  <div class="row">-->
<!--	<div class="col-lg-4 col-md-4 team-w3layouts-grids text-center my-3">-->
<!--	  <img src="../images/t1.jpg" alt="news image" class="img-fluid">-->
<!--	  <div class="team-icons text-center mt-md-4 mt-3">-->
<!--		<ul>-->
<!--		  <li class="facebook">-->
<!--			<a href="#">-->
<!--			  <span class="fa fa-facebook"></span>-->
<!--			</a>-->
<!--		  </li>-->
<!--		  <li class="twitter">-->
<!--			<a href="#">-->
<!--			  <span class="fa fa-twitter"></span>-->
<!--			</a>-->
<!--		  </li>-->
<!--		  <li class="rss">-->
<!--			<a href="#">-->
<!--			  <span class="fa fa-rss"></span>-->
<!--			</a>-->
<!--		  </li>-->
<!--		  <li class="gmail">-->
<!--			<a href="#">-->
<!--			  <span class="fa fa-envelope"></span>-->
<!--			</a>-->
<!--		  </li>-->
<!--		</ul>-->
<!--	  </div>-->
<!--	  <p class="mt-2">sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet eiusmod tempor incididunt</p>-->
<!--	  <h6 class="mt-3"> Sophia Miller</h6>-->
<!--	</div>-->
<!--	<div class="col-lg-4 col-md-4 team-w3layouts-grids text-center my-3">-->
<!--	  <img src="../images/t2.jpg" alt="news image" class="img-fluid">-->
<!--	  <div class="team-icons text-center mt-md-4 mt-3">-->
<!--		<ul>-->
<!--		  <li class="facebook">-->
<!--			<a href="#">-->
<!--			  <span class="fa fa-facebook"></span>-->
<!--			</a>-->
<!--		  </li>-->
<!--		  <li class="twitter">-->
<!--			<a href="#">-->
<!--			  <span class="fa fa-twitter"></span>-->
<!--			</a>-->
<!--		  </li>-->
<!--		  <li class="rss">-->
<!--			<a href="#">-->
<!--			  <span class="fa fa-rss"></span>-->
<!--			</a>-->
<!--		  </li>-->
<!--		  <li class="gmail">-->
<!--			<a href="#">-->
<!--			  <span class="fa fa-envelope"></span>-->
<!--			</a>-->
<!--		  </li>-->
<!--		</ul>-->
<!--	  </div>-->
<!--	  <p class="mt-2">sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet eiusmod tempor incididunt</p>-->
<!--	  <h6 class="mt-3">Marker Sam</h6>-->
<!--	</div>-->
<!--	<div class="col-lg-4 col-md-4 team-w3layouts-grids text-center my-3">-->
<!--	  <img src="../images/t3.jpg" alt="news image" class="img-fluid">-->
<!--	  <div class="team-icons text-center mt-md-4 mt-3">-->
<!--		<ul>-->
<!--		  <li class="facebook">-->
<!--			<a href="#">-->
<!--			  <span class="fa fa-facebook"></span>-->
<!--			</a>-->
<!--		  </li>-->
<!--		  <li class="twitter">-->
<!--			<a href="#">-->
<!--			  <span class="fa fa-twitter"></span>-->
<!--			</a>-->
<!--		  </li>-->
<!--		  <li class="rss">-->
<!--			<a href="#">-->
<!--			  <span class="fa fa-rss"></span>-->
<!--			</a>-->
<!--		  </li>-->
<!--		  <li class="gmail">-->
<!--			<a href="#">-->
<!--			  <span class="fa fa-envelope"></span>-->
<!--			</a>-->
<!--		  </li>-->
<!--		</ul>-->
<!--	  </div>-->
<!--	  <p class="mt-2">sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet eiusmod tempor incididunt</p>-->
<!--	  <h6 class="mt-3">Olivia Smith</h6>-->
<!--	</div>-->
<!--  </div>-->
<!--</div>-->
<!--</section>-->
<!--&lt;!&ndash;//team &ndash;&gt;-->
<!--&lt;!&ndash; matter &ndash;&gt;-->
<!--<section class="advertise-count py-lg-4 py-md-3 py-sm-3 py-3">-->
<!--<div class="container py-lg-5 py-md-4 py-sm-4 py-3">-->
<!--  <div class="order-show-w3ls ">-->
<!--	<h4>10 Health Benefits: What Secrets Do Watermelons Keep?</h4>-->
<!--	<div class="outs_more-buttn mt-md-4 mt-3">-->
<!--	  <a href="#contact">Order Now</a>-->
<!--	</div>-->
<!--  </div>-->
<!--</div>-->
<!--</section>-->
<!--&lt;!&ndash;//matter &ndash;&gt;-->
<!--&lt;!&ndash; gallery  &ndash;&gt;-->
<!--<section class="gallery py-lg-4 py-md-3 py-sm-3 py-3" id="gallery">-->
<!--<div class="container py-lg-5 py-md-4 py-sm-4 py-3">-->
<!--  <h5 class="top-title mb-lg-4 mb-3 text-center">Our Gallery</h5>-->
<!--  <h3 class="title mb-lg-5 mb-md-4 mb-sm-4 mb-3 text-center">What is Special </h3>-->
<!--  <div class="row gallery-info no-gutters">-->
<!--	<div class="col-lg-4 col-md-6 col-sm-6 gallery-img-grid ">-->
<!--	  <div class="gallery-grids">-->
<!--		<a href="#gal1">-->
<!--		  <img src="../images/g1.jpg" alt="news image" class="img-fluid">-->
<!--		</a>-->
<!--	  </div>-->
<!--	</div>-->
<!--	<div class="col-lg-4 col-md-6 col-sm-6 gallery-img-grid ">-->
<!--	  <div class="gallery-grids">-->
<!--		<a href="#gal2">-->
<!--		  <img src="../images/g6.jpg" alt="news image" class="img-fluid">-->
<!--		</a>-->
<!--	  </div>-->
<!--	</div>-->
<!--	<div class="col-lg-4 col-md-6 col-sm-6 gallery-img-grid">-->
<!--	  <div class="gallery-grids">-->
<!--		<a href="#gal3">-->
<!--		  <img src="../images/g3.jpg" alt="news image" class="img-fluid">-->
<!--		</a>-->
<!--	  </div>-->

<!--	</div>-->
<!--	<div class="col-lg-4 col-md-6 col-sm-6 gallery-img-grid">-->
<!--	  <div class="gallery-grids">-->
<!--		<a href="#gal4">-->
<!--		  <img src="../images/g4.jpg" alt="news image" class="img-fluid">-->
<!--		</a>-->
<!--	  </div>-->
<!--	</div>-->
<!--	<div class="col-lg-4 col-md-6 col-sm-6 gallery-img-grid ">-->
<!--	  <div class="gallery-grids">-->
<!--		<a href="#gal5">-->
<!--		  <img src="../images/g2.jpg" alt="news image" class="img-fluid">-->
<!--		</a>-->
<!--	  </div>-->

<!--	</div>-->
<!--	<div class="col-lg-4 col-md-6 col-sm-6 gallery-img-grid ">-->
<!--	  <div class="gallery-grids">-->
<!--		<a href="#gal6">-->
<!--		  <img src="../images/g5.jpg" alt="news image" class="img-fluid">-->
<!--		</a>-->
<!--	  </div>-->
<!--	</div>-->
<!--	&lt;!&ndash; popup&ndash;&gt;-->
<!--	<div id="gal1" class="popup-effect">-->
<!--	  <div class="popup">-->
<!--		<img src="../images/g1.jpg" alt="Popup Image" class="img-fluid" />-->
<!--		<a class="close" href="#gallery">&times;</a>-->
<!--	  </div>-->
<!--	</div>-->
<!--	&lt;!&ndash; //popup &ndash;&gt;-->
<!--	&lt;!&ndash; popup&ndash;&gt;-->
<!--	<div id="gal2" class="popup-effect">-->
<!--	  <div class="popup">-->
<!--		<img src="../images/g6.jpg" alt="Popup Image" class="img-fluid" />-->
<!--		<a class="close" href="#gallery">&times;</a>-->
<!--	  </div>-->
<!--	</div>-->
<!--	&lt;!&ndash; //popup &ndash;&gt;-->
<!--	&lt;!&ndash; popup&ndash;&gt;-->
<!--	<div id="gal3" class="popup-effect">-->
<!--	  <div class="popup">-->
<!--		<img src="../images/g3.jpg" alt="Popup Image" class="img-fluid" />-->
<!--		<a class="close" href="#gallery">&times;</a>-->
<!--	  </div>-->
<!--	</div>-->
<!--	&lt;!&ndash; //popup &ndash;&gt;-->
<!--	&lt;!&ndash; popup&ndash;&gt;-->
<!--	<div id="gal4" class="popup-effect">-->
<!--	  <div class="popup">-->
<!--		<img src="../images/g4.jpg" alt="Popup Image" class="img-fluid" />-->
<!--		<a class="close" href="#gallery">&times;</a>-->
<!--	  </div>-->
<!--	</div>-->
<!--	&lt;!&ndash; //popup &ndash;&gt;-->
<!--	&lt;!&ndash; popup&ndash;&gt;-->
<!--	<div id="gal5" class="popup-effect">-->
<!--	  <div class="popup">-->
<!--		<img src="../images/g2.jpg" alt="Popup Image" class="img-fluid" />-->
<!--		<a class="close" href="#gallery">&times;</a>-->
<!--	  </div>-->
<!--	</div>-->
<!--	&lt;!&ndash; //popup &ndash;&gt;-->
<!--	&lt;!&ndash; popup&ndash;&gt;-->
<!--	<div id="gal6" class="popup-effect">-->
<!--	  <div class="popup">-->
<!--		<img src="../images/g5.jpg" alt="Popup Image" class="img-fluid" />-->
<!--		<a class="close" href="#gallery">&times;</a>-->
<!--	  </div>-->
<!--	</div>-->
<!--	&lt;!&ndash; //popup &ndash;&gt;-->
<!--  </div>-->
<!--</div>-->
<!--</section>-->
<!--&lt;!&ndash;//gallery  &ndash;&gt;-->
<!--&lt;!&ndash; blog &ndash;&gt;-->
<!--<section class="blog py-lg-4 py-md-3 py-sm-3 py-3" id="blog">-->
<!--<div class="container-fluid py-lg-5 py-md-4 py-sm-4 py-3">-->
<!--  <h5 class="top-title mb-lg-4 mb-3 text-center">Our Blog</h5>-->
<!--  <h3 class="title mb-lg-5 mb-md-4 mb-sm-4 mb-3 text-center">Latest News & Events</h3>-->
<!--  <div class="row">-->
<!--	<div class="col-lg-6 blog-first-grid">-->
<!--	  <div class="blog-txt text-center">-->
<!--		<h5>-->
<!--		  <a href="#about">Arrived Fresh Lemons </a>-->
<!--		</h5>-->
<!--	  </div>-->
<!--	</div>-->
<!--	<div class="col-lg-6 bolg-right-grids">-->
<!--	  <h4 class="pb-3">-->
<!--		<a href="#about">Health Benefits of a Raw Food</a>-->
<!--	  </h4>-->
<!--	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non Lorem ipsum-->
<!--		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non Lorem ipsum-->
<!--		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non Lorem ipsum-->
<!--	  </p>-->
<!--	  <div class="mt-3 blog-date-time">-->
<!--		<ul>-->
<!--		  <li class="mr-3">Comments-->
<!--			<a href="#about" class="pl-1">7</a>-->
<!--		  </li>-->
<!--		  <li>Views-->
<!--			<a href="#about" class="pl-1">5</a>-->
<!--		  </li>-->
<!--		</ul>-->
<!--	  </div>-->
<!--	  <div class="outs_more-buttn mt-md-4 mt-3">-->
<!--		<a href="#about">Read More</a>-->
<!--	  </div>-->
<!--	</div>-->
<!--	<div class="col-lg-6 bolg-right-grids text-md-right">-->
<!--	  <h4 class="pb-3">-->
<!--		<a href="#about">6 After-School Snacks the Kid Will Love</a>-->
<!--	  </h4>-->
<!--	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non Lorem ipsum-->
<!--		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non Lorem ipsum-->
<!--		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non Lorem ipsum-->
<!--	  </p>-->
<!--	  <div class="mt-3 blog-date-time">-->
<!--		<ul>-->
<!--		  <li class="mr-3">Comments-->
<!--			<a href="#about" class="pl-1">7</a>-->
<!--		  </li>-->
<!--		  <li>Views-->
<!--			<a href="#about" class="pl-1">5</a>-->
<!--		  </li>-->
<!--		</ul>-->
<!--	  </div>-->
<!--	  <div class="outs_more-buttn mt-md-4 mt-3">-->
<!--		<a href="#about">Read More</a>-->
<!--	  </div>-->
<!--	</div>-->
<!--	<div class="col-lg-6 blog-second-grid">-->
<!--	  <div class="blog-txt text-center">-->
<!--		<h5>-->
<!--		  <a href="#about">Sweet & Fresh Strawberry</a>-->
<!--		</h5>-->
<!--	  </div>-->
<!--	</div>-->
<!--  </div>-->
<!--</div>-->
<!--</section>-->
<!--&lt;!&ndash;//blog &ndash;&gt;-->
<!--&lt;!&ndash; map &ndash;&gt;-->
<!--<div class="address_mail_footer_grids">-->
<!--<iframe src=""></iframe>-->
<!--</div>-->
<!--&lt;!&ndash;//map &ndash;&gt;-->
<!--&lt;!&ndash; contact &ndash;&gt;-->
<!--<section class="contact" id="contact">-->
<!--<div class="container-fluid">-->
<!--  <div class="row">-->

<!--	<div class="col-lg-7 col-md-6 contact-form-txt">-->
<!--	  <form action="#" method="post">-->
<!--		<div class="form-group contact-forms">-->
<!--		  <input type="text" class="form-control" placeholder="Name" required="">-->
<!--		</div>-->
<!--		<div class="form-group contact-forms">-->
<!--		  <input type="email" class="form-control" placeholder="Email" required="">-->
<!--		</div>-->
<!--		<div class="form-group contact-forms">-->
<!--		  <input type="text" class="form-control" placeholder="Phone" required="">-->
<!--		</div>-->
<!--		<div class="form-group contact-forms">-->
<!--		  <textarea class="form-control" placeholder="Message" rows="3" required></textarea>-->
<!--		</div>-->
<!--		<button type="submit" class="btn sent-butnn">Send</button>-->
<!--	  </form>-->
<!--	</div>-->
<!--	<div class="col-md-5 contact-grided-right">-->
<!--	  <h5 class="top-title mb-lg-4 mb-3 text-center">Contact Us</h5>-->
<!--	  <h3 class="title mb-lg-5 mb-md-4 mb-sm-4 mb-3 text-center">Get In Touch</h3>-->
<!--	  <div class=" footer-top text-center">-->
<!--		<p>-->
<!--		  <span>Address</span> : Melbourne St,South-->
<!--		  <br>Birbane 4101 Austraila.</p>-->
<!--		<p class="pt-lg-3 pt-2">-->
<!--		  <span> Phone</span> : +(000) 123 4565 32</p>-->
<!--		<p class="pt-lg-3 pt-2">-->
<!--		  <span>Email</span> :-->
<!--		  <a href="mailto:info@example.com">info@example1.com</a>-->
<!--		</p>-->
<!--	  </div>-->


<!--	</div>-->
<!--  </div>-->
<!--</div>-->
<!--</section>-->
<!--&lt;!&ndash;//contact &ndash;&gt;-->
<!-- footer -->
<!--<section class="footer-grids py-lg-4 py-md-3 py-sm-3 py-3">-->
<!--<div class="container py-lg-5 py-md-5 py-sm-4 py-3">-->
<!--  <div class="footer-w3layouts-head text-center">-->
<!--	<h5>Follow Me</h5>-->
<!--  </div>-->
<!--  <div class="footer-icons mt-md-4 mt-3 text-center">-->
<!--	<ul>-->
<!--	  <li>-->
<!--		<a href="#">-->
<!--		  <span class="fa fa-facebook"></span>-->
<!--		</a>-->
<!--	  </li>-->
<!--	  <li>-->
<!--		<a href="#">-->
<!--		  <span class="fa fa-twitter"></span>-->
<!--		</a>-->
<!--	  </li>-->
<!--	  <li>-->
<!--		<a href="#">-->
<!--		  <span class="fa fa-rss"></span>-->
<!--		</a>-->
<!--	  </li>-->
<!--	  <li>-->
<!--		<a href="#">-->
<!--		  <span class="fa fa-envelope"></span>-->
<!--		</a>-->
<!--	  </li>-->
<!--	  <li>-->
<!--		<a href="#">-->
<!--		  <span class="fa fa-instagram"></span>-->
<!--		</a>-->
<!--	  </li>-->
<!--	</ul>-->
<!--  </div>-->
<!--  &lt;!&ndash; move icon &ndash;&gt;-->
<!--  <div class="text-center mt-md-4 mt-3">-->
<!--	<a href="#home" class="move-top text-center mt-3">-->
<!--	  <span class="fa fa-arrow-up" aria-hidden="true"></span>-->
<!--	</a>-->
<!--  </div>-->
<!--  &lt;!&ndash;//move icon &ndash;&gt;-->
<!--</div>-->
<!--</section>-->
<!--//footer -->
<!-- copy right -->
<footer>
<div class="bottom-footer text-center py-md-4 py-3">
	<p>Copyright &copy;2020.<a href="http://www.xinjingjie.xyz" target="_blank">xinjingjie.xyz</a>版权所有.ICP备案号<a href="http://www.beian.miit.gov.cn" target="_blank">豫ICP备19031745号</a></p>
</div>
</footer>
<!-- copy right -->
</body>

</html>